html, body {
	height: 100%;
}

body {
	/* padding-top: 60px; */
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
	letter-spacing: 0.1em;
	color: #ffffff;
	background-color: #1c1c1c;
}

/* buttons */
#grad {
  background: #32e147; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#32e147,#25a935);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,#32e147,#25a935);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#32e147,#25a935);
  /* Standard syntax */
  background: linear-gradient(to right, #32e147,#25a935); 
}

.btn {
	border: 0px;
}

.btn-info {
	background-color: #333333;
}

.table .btn-info {
	background-color: #dfdfdf;
	color: #333333;
}

/* text */
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 40px;
	color: #784ae6;
	text-align: center;
	padding-bottom: 15px;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 15px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-size: 17px;
	color: #ffffff;
	line-height: 1.6;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 15px;
}

.hero p {
	text-align: left;
}

/* hero */
.hero {
	background-image: linear-gradient(rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.5)), url("../images/background-lg.png");
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.hero-body {
	padding-top: 15%;
}

.hero h1 {
	color: #ffffff;
	text-align: left;
}
.btn-lg {
	height:60px;
	width:260px;
	padding-top: 18px;
	box-shadow: 0px 0px 20px #231f20;
}
/* navbar */
.navbar-custom {
    background: rgba(28,28,28,0.5);
}

.navbar {
	min-height: 60px;
}

nav ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
}

nav ul > li:hover > a {
	color:#dbdbdb;
	text-decoration: none;
 }

nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #784ae6;
   border-radius: 4px;
 }

nav ul > li.btn-outline:hover {
   background:#784ae6;
 }

nav ul > li > a {
	color:#FFFFFF;
	text-decoration: none;
 }
/* stats */
.stats {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	font-weight: 700;
	text-align: center;
}

.green-border {
	border: 2px solid #32e147;
	border-radius: 10px;
	margin: 0 50px;
	padding: 35px 15px;
	display: inline-block;
	width: 246px;
}

.green-num {
	color: #25a935;
	font-size: 46px;
	line-height: 0.7;
	padding-bottom: 30px;
	letter-spacing: 0.1em;
}

.box-text {
	font-size: 14px;
	color: #dfdfdf;
	letter-spacing: 0.2em;
}

/* testimonial */
.testimonial {
	background-image: linear-gradient(rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.5)), url("../images/testimonial.png");
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	letter-spacing: 0.16em;
}

blockquote {
	border:none;
	font-weight: 400;
	font-style: italic; 
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 280px;
}
blockquote h3 {
	text-align: left;
	font-weight: 400;
}


/* blockquote h3:before { 
    content: open-quote;
    font-weight: bold;
    font-size:100px;
    color:#FFFFFF;
} */
.quote-name {
	font-weight: 600;
	font-size: 13px;
	color: #32e147;
	margin-left: 30px;
}
/* Feature */
.feature {
	padding: 90px 0;
	overflow: hidden;
	position: relative;
}

.feature h2 {
	font-weight: 600;
	color: #784ae6;
}

.feature h3 {
	text-align: left;
}

.feature p {
	text-align: left;
}

.table > tr {
	vertical-align: middle;
	padding: 0 15px;
}

.table > tbody > tr > td {
	padding: 15px;
	vertical-align: middle;
}

tr:last-child {
	border-bottom: 1px solid #ffffff;
}

.table p {
	padding-bottom: 0px;
}

/* Staff */
.staff {
	background-image: linear-gradient(rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.5)), url("../images/staff1.png");
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	letter-spacing: 0.16em;
}
.bubble-list {
	text-align: center;
	padding-top: 100px;
}
.bubble {
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding-top: 30px;
	margin: 0 30px;
	display: inline-block;
	width: 84px;
	height: 84px
}
.soapbox {
	width: 50%;
	padding-top: 125px;
	padding-bottom: 125px;
	margin: 0 auto;
	text-align: center;
}

.alt {
	background-color: #333333;
}

.align-right {
	text-align: right;
}